########################################
######## LaTeX build files #############
########################################

*.out
*.log
*.aux
*.backup
*.pdf
*.glo
*.glg
*.gls
*.ist
*.glsdefs
*.pre
*.blg
*.bbl

########################################
######## CMake build files #############
########################################

Makefile
bin/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

########################################
######### C++ build files ##############
########################################

*.o

########################################
######## Phat Data Like WTF ############
########################################

test_data/
res/
input/
output/
networks/
